
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    background-color: aliceblue;
}

/* header Styles */
header {
   background-image: url( ../Assets/Hero-bg.png);
   margin:auto;
}

/* Navigation Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 96px;
}
.nav-title{
    font-weight: 800;
    font-size: 25px;
    color: blue;

}
nav ul li {
    list-style: none;
    font-size: 18px;
    
    
}
.btn-primary{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

/* Hero Section Styles */
.hero {
    text-align: center;
    font-size: x-large;
    padding:200px;


    
    
}

/* action-section styles   */

.action-section{
    display: flex;
    justify-content: space-between;
    margin:120px 151px 0px 141px;
    background-color: whitesmoke;
}
.action-title-color{
    color:#252432;
    font-weight: 800;
}

.action-subtitle-color{
    color:#252432;
    font: size 30px;
}
.action-section-image{
    width: 421px;
    height: 321px;
    border-radius: 43px;
}

/* productive user section styles */

.productive-user-section{
    width: auto;
    background-color:wheat;
    margin: 115px 159px auto 141px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;

}

.user-section-title{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.user-subtile{
    font-size: 75px;
    font-weight: 800;
    color: darkblue;
}

/* users feedback section*/
.users-feedback-section{
    
    text-align: center;
    gap: 24px;
    border: 23px;
    border-radius: 15px;
   
}

.feedbacks{
    font-weight: 800;
    font-size: 30px;
    margin-top: 80px;
}
.users-feedback{
    justify-content: center;

    display: flex;
    text-align: left;
    gap: 20px;
    border: 20px 15px;
    border-radius: 15px;
    
  
    
   
    
}
.feedback{
    border: 20px 15px;
    background-color: aqua;
    
}
.users{
    display: flex;
    gap: 20px;
}

/* hero1 styles */
.hero1{
   text-align: center;
   border: 2px snow;
   padding: 60px 150px;
   background-color: antiquewhite;
  
   margin: 137px 149px 137px 151px;
}

.hero1-image img,
.user-image img {
    

    padding-top: 20px;
   
   
    border-radius: 34px;
}
/* footer section */
.footer-section{
   justify-content: center;
    display: flex;
    padding-top: 20px;
    align-items: center;
   margin:95px 152px 20px 150px ;
   gap: 60px;
    
}

.footer-title{
   font-weight: bolder;
   font-size: 70px;
}

.footer-colum .btn-primary{
    text-align: center;
}

/* hero 2 styles */
.hero-2{
    text-align: center;
    margin:104px 455px 103px 454px ;

}
.hero-2-title{
    font-weight: 800;
    font: size 75px;
    color:blue
}
.hero-2-menu{
    display: flex;
    justify-content: center;
    gap:20px;
}